<a class="btn btn-dark btn-sm my-2" href="{{hdurl}}" target="_blank">HD</a>
<div class="text-center">
    <img src="{{url}}" class="rounded" alt="{{title}}">
</div>
  <blockquote class="blockquote text-center mt-3 p-3 rounded bg-dark">
  <p class="mb-0 text-white-50">{{explanation}}</p>
</blockquote>