<!DOCTYPE html>
<html>

<head>
  <title>{{siteTitle}}</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="mdb/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script defer src="/js/time.js"></script>
  <script defer src="/js/application.js"></script>
  <script defer type="text/javascript" src="mdb/js/jquery-3.4.1.min.js"></script>
  <script defer type="text/javascript" src="mdb/js/popper.min.js"></script>
  <script defer type="text/javascript" src="mdb/js/bootstrap.min.js"></script>
  <script defer type="text/javascript" src="mdb/js/mdb.min.js"></script>

</head>

<body>
  <h1>{{siteTitle}}</h1>
  <p class="text-white-50" id="time"></p>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {{!-- <a class="navbar-brand" href="#">Menu:</a> --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="apod" href="/apod">APOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carousel" tabindex="-1">Star carousel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Moon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/opportunity">Oppurtunity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.nasa.gov" tabindex="-1" target="_blank">NASA.gov</a>
        </li>
      </ul>
      <form id="timetravel" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="date" type="date" placeholder="dd/mm/yyyy">
        <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Time travel!">
      </form>
    </div>
  </nav>
  {{{body}}}
</body>

</html>