<div class="card mt-2 bg-dark" style="width: 18rem;">
  <img src="images/opportunity.jpg" class="card-img-top" alt="Opportunity Rover">
  <div class="card-body">
    <h5 class="card-title text-white-50">Oppurtunity</h5>
    <p class="card-text">Brave little rover who lasted 5,352 sols (5498 Earth days). You won't be forgotten.</p>
    <button id="oppi" name="oppi-pic" class="btn btn-dark">Show me Mars!</button>
  </div>
</div>
