body {
  padding: 50px;
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

h1 {
  color: ivory;
}

#logo {
  max-width: 400px;
  max-height: auto;
}

/* a:visited,
a:active,
a:link {
  color: #6c757d;
} */